BODY{
    BACKGROUND-COLOR:#e0c8cc}
.jump{
   
    border-radius:50px;   
    height:80px;
    background-color:#999999;  /**#99EDC3**/
    display:flex;
    width:25%;
    margin-left:35%;
    justify-content: center;
    align-items: center;  
  font-weight: bolder;
  ;

}   /** <!---this is css for backgrond image--->**/
.salereport{

    background-image: url("./images/Shereton.jpg");
    background-size: cover;
    margin-top: 10px;;
  

}

#foter{
    background-image: url("./images/back3.jpg");
    background-size: cover;
}
#pic{
    float:left
}
 .listi{
    float:right;
} 



.features{
    display:flex;
    align-items:center;
    
}

.left{
    display: flex;
    justify-content: center;
}
@media(max-width:600px){
    #first > img{
        height:960px;
        width: 640px;
    }
}


.features{
    display:grid;

}